---
extends: default

ignore: |
  .tox
  .github
  galaxy.yml
  hacking/merge.yml

rules:
  braces:
    max-spaces-inside: 1
    level: error
  brackets:
    max-spaces-inside: 1
    level: error
  line-length:
    ignore: |
      roles/ansible_icinga/tasks
      tests/integration/targets/icinga/
  document-start:
    ignore: |
      tests/integration/targets/icinga/
