---
# zone.1 = zone array
# zone.0 = icinga_zone attribute
- name: icinga_zone
  icinga_zone:
    url: "{{ icinga_url }}"
    use_proxy: "{{ icinga_use_proxy | default(omit) }}"
    validate_certs: "{{ icinga_validate_certs | default(omit) }}"
    url_username: "{{ icinga_user }}"
    url_password: "{{ icinga_pass }}"
    force_basic_auth: "{{ icinga_force_basic_auth | default(omit) }}"
    client_cert: "{{ icinga_client_cert | default(omit) }}"
    client_key: "{{ icinga_client_key | default(omit) }}"
    state: "{{ zone.0.state | default(omit) }}"
    object_name: "{{ zone.1 }}"
    is_global: "{{ zone.0.is_global | default(omit) }}"
    parent: "{{ zone.0.parent | default(omit) }}"
  loop: "{{ icinga_zones|subelements('zone_object') }}"
  loop_control:
    loop_var: zone
  tags: zone
