---
# notification_template.1 = notification_template array
# notification_template.0 = icinga_notification_template attribute
- name: icinga_notification_template
  icinga_notification_template:
    url: "{{ icinga_url }}"
    use_proxy: "{{ icinga_use_proxy | default(omit) }}"
    validate_certs: "{{ icinga_validate_certs | default(omit) }}"
    url_username: "{{ icinga_user }}"
    url_password: "{{ icinga_pass }}"
    force_basic_auth: "{{ icinga_force_basic_auth | default(omit) }}"
    client_cert: "{{ icinga_client_cert | default(omit) }}"
    client_key: "{{ icinga_client_key | default(omit) }}"
    object_name: "{{ notification_template.1 }}"
    state: "{{ notification_template.0.state | default(omit) }}"
    notification_interval: "{{ notification_template.0.notification_interval | default(omit) }}"
    states: "{{ notification_template.0.states | default(omit) }}"
    types: "{{ notification_template.0.types | default(omit) }}"
    times_begin: "{{ notification_template.0.times_begin | default(omit) }}"
    times_end: "{{ notification_template.0.times_end | default(omit) }}"
    time_period: "{{ notification_template.0.time_period | default(omit) }}"
    users: "{{ notification_template.0.users | default(omit) }}"
    user_groups: "{{ notification_template.0.user_groups | default(omit) }}"
    notification_command: "{{ notification_template.0.notification_command | default(omit) }}"
    imports: "{{ notification_template.0.imports | default(omit) }}"
    zone: "{{ notification_template.0.zone | default(omit) }}"
  retries: 3
  delay: 3
  register: result
  until: result is succeeded
  loop: "{{ icinga_notification_templates|subelements('notification_template_object') }}"
  loop_control:
    loop_var: notification_template
  tags: notification_template
  notify: config_deploy
