---
# host_template.1 = host_template array
# host_template.0 = icinga_host_template attribute
- name: icinga_host_template
  icinga_host_template:
    url: "{{ icinga_url }}"
    use_proxy: "{{ icinga_use_proxy | default(omit) }}"
    validate_certs: "{{ icinga_validate_certs | default(omit) }}"
    url_username: "{{ icinga_user }}"
    url_password: "{{ icinga_pass }}"
    force_basic_auth: "{{ icinga_force_basic_auth | default(omit) }}"
    client_cert: "{{ icinga_client_cert | default(omit) }}"
    client_key: "{{ icinga_client_key | default(omit) }}"
    state: "{{ host_template.0.state | default(omit) }}"
    object_name: "{{ host_template.1 }}"
    display_name: "{{ host_template.0.display_name | default(omit) }}"
    address: "{{ host_template.0.address | default(omit) }}"
    address6: "{{ host_template.0.address6 | default(omit) }}"
    groups: "{{ host_template.0.address | default(omit) }}"
    check_command: "{{ host_template.0.check_command | default(omit) }}"
    check_interval: "{{ host_template.0.check_interval | default(omit) }}"
    disabled: "{{ host_template.0.disabled | default(omit) }}"
    imports: "{{ host_template.0.imports | default(omit) }}"
    zone: "{{ host_template.0.zone | default(omit) }}"
    vars: "{{ host_template.0.vars | default(omit) }}"
    notes: "{{ host_template.0.notes | default(omit) }}"
    notes_url: "{{ host_template.0.notes_url | default(omit) }}"
    has_agent: "{{ host_template.0.has_agent | default(omit) }}"
    master_should_connect: "{{ host_template.0.master_should_connect | default(omit) }}"
    accept_config: "{{ host_template.0.accept_config | default(omit) }}"
  loop: "{{ icinga_host_templates|subelements('host_template_object') }}"
  loop_control:
    loop_var: host_template
  tags: host_template
