---
# notification.1 = notification array
# notification.0 = icinga_notification attribute
- name: icinga_notification
  icinga_notification:
    url: "{{ icinga_url }}"
    use_proxy: "{{ icinga_use_proxy | default(omit) }}"
    validate_certs: "{{ icinga_validate_certs | default(omit) }}"
    url_username: "{{ icinga_user }}"
    url_password: "{{ icinga_pass }}"
    force_basic_auth: "{{ icinga_force_basic_auth | default(omit) }}"
    client_cert: "{{ icinga_client_cert | default(omit) }}"
    client_key: "{{ icinga_client_key | default(omit) }}"
    state: "{{ notification.0.state | default(omit) }}"
    object_name: "{{ notification.1 }}"
    notification_interval: "{{ notification.0.notification_interval | default(omit) }}"
    states: "{{ notification.0.states | default(omit) }}"
    types: "{{ notification.0.types | default(omit) }}"
    users: "{{ notification.0.users | default(omit) }}"
    user_groups: "{{ notification.0.user_groups | default(omit) }}"
    apply_to: "{{ notification.0.apply_to | default(omit) }}"
    assign_filter: "{{ notification.0.assign_filter | default(omit) }}"
    imports: "{{ notification.0.imports | default(omit) }}"
    period: "{{ notification.0.period | default(omit) }}"
    vars: "{{ notification.0.vars | default(omit) }}"
  retries: 3
  delay: 3
  register: result
  until: result is succeeded
  loop: "{{ icinga_notifications|subelements('notification_object') }}"
  loop_control:
    loop_var: notification
  tags: notification
  notify: config_deploy
