---
# hostgroup.1 = hostgroup array
# hostgroup.0 = icinga_hostgroup attribute
- name: icinga_hostgroup
  icinga_hostgroup:
    url: "{{ icinga_url }}"
    use_proxy: "{{ icinga_use_proxy | default(omit) }}"
    validate_certs: "{{ icinga_validate_certs | default(omit) }}"
    url_username: "{{ icinga_user }}"
    url_password: "{{ icinga_pass }}"
    force_basic_auth: "{{ icinga_force_basic_auth | default(omit) }}"
    client_cert: "{{ icinga_client_cert | default(omit) }}"
    client_key: "{{ icinga_client_key | default(omit) }}"
    state: "{{ hostgroup.0.state | default(omit) }}"
    object_name: "{{ hostgroup.1 }}"
    display_name: "{{ hostgroup.0.display_name | default(omit) }}"
    assign_filter: "{{ hostgroup.0.assign_filter | default('host.name=\"' + hostgroup.1 + '-*\"') }}"
  retries: 3
  delay: 3
  register: result
  until: result is succeeded
  loop: "{{ icinga_hostgroups|subelements('hostgroup_object') }}"
  loop_control:
    loop_var: hostgroup
  tags: hostgroup
  notify: config_deploy
