---
# host.1 = host array
# host.0 = icinga_host attribute
- name: icinga_host
  icinga_host:
    client_cert: "{{ icinga_client_cert | default(omit) }}"
    client_key: "{{ icinga_client_key | default(omit) }}"
    force_basic_auth: "{{ icinga_force_basic_auth | default(omit) }}"
    state: "{{ host.0.state | default(omit) }}"
    url_password: "{{ icinga_pass }}"
    url_username: "{{ icinga_user }}"
    url: "{{ icinga_url }}"
    use_proxy: "{{ icinga_use_proxy | default(omit) }}"
    validate_certs: "{{ icinga_validate_certs | default(omit) }}"
    accept_config: "{{ host.0.accept_config | default(omit) }}"
    address: "{{ host.0.address | default(omit) }}"
    address6: "{{ host.0.address6 | default(omit) }}"
    check_command: "{{ host.0.check_command | default(omit) }}"
    check_interval: "{{ host.0.check_interval | default(omit) }}"
    check_period: "{{ host.0.check_period | default(omit) }}"
    check_timeout: "{{ host.0.check_timeout | default(omit) }}"
    command_endpoint: "{{ command_endpoint | default(omit) }}"
    disabled: "{{ host.0.disabled | default(omit) }}"
    display_name: "{{ host.0.display_name | default(omit) }}"
    enable_active_checks: "{{ host.0.enable_active_checks | default(omit) }}"
    enable_event_handler: "{{ host.0.enable_event_handler | default(omit) }}"
    enable_flapping: "{{ host.0.enable_flapping | default(omit) }}"
    enable_notifications: "{{ host.0.enable_notifications | default(omit) }}"
    enable_passive_checks: "{{ host.0.enable_passive_checks | default(omit) }}"
    enable_perfdata: "{{ host.0.enable_perfdata | default(omit) }}"
    event_command: "{{ host.0.event_command | default(omit) }}"
    flapping_threshold_high: "{{ host.0.flapping_threshold_high | default(omit) }}"
    flapping_threshold_low: "{{ host.0.flapping_threshold_low | default(omit) }}"
    groups: "{{ host.0.groups | default(omit) }}"
    has_agent: "{{ host.0.has_agent | default(omit) }}"
    icon_image_alt: "{{ host.0.icon_image_alt | default(omit) }}"
    icon_image: "{{ host.0.icon_image | default(omit) }}"
    imports: "{{ host.0.imports | default(icinga_host_imports) }}"
    master_should_connect: "{{ host.0.master_should_connect | default(omit) }}"
    max_check_attempts: "{{ host.0.max_check_attempts | default(omit) }}"
    notes_url: "{{ host.0.notes_url | default(omit) }}"
    notes: "{{ host.0.notes | default(omit) }}"
    object_name: "{{ host.1 }}"
    retry_interval: "{{ host.0.retry_interval | default(omit) }}"
    vars: "{{ host.0.vars | default(omit) }}"
    volatile: "{{ host.0.volatile | default(omit) }}"
    zone: "{{ host.0.zone | default(omit) }}"
  retries: 3
  delay: 3
  register: result
  until: result is succeeded
  loop: "{{ icinga_hosts|subelements('host_object') }}"
  loop_control:
    loop_var: host
  tags: host
  notify: config_deploy
