---
# command.1 = command array
# command.0 = icinga_command attribute
- name: icinga_command
  icinga_command:
    url: "{{ icinga_url }}"
    use_proxy: "{{ icinga_use_proxy | default(omit) }}"
    validate_certs: "{{ icinga_validate_certs | default(omit) }}"
    url_username: "{{ icinga_user }}"
    url_password: "{{ icinga_pass }}"
    force_basic_auth: "{{ icinga_force_basic_auth | default(omit) }}"
    client_cert: "{{ icinga_client_cert | default(omit) }}"
    client_key: "{{ icinga_client_key | default(omit) }}"
    state: "{{ command.0.state | default(omit) }}"
    command: "{{ command.0.command | default(omit) }}"
    command_type: "{{ command.0.command_type | default(icinga_command_type) }}"
    disabled: "{{ command.0.disabled | default(icinga_command_disabled) }}"
    object_name: "{{ command.1 }}"
    imports: "{{ command.0.imports | default(omit) }}"
    timeout: "{{ command.0.timeout | default(omit) }}"
    zone: "{{ command.0.zone | default(omit) }}"
    vars: "{{ command.0.vars | default(omit) }}"
    arguments: "{{ command.0.arguments | default(omit) }}"
  retries: 3
  delay: 3
  register: result
  until: result is succeeded
  loop: "{{ icinga_commands|subelements('command_object') }}"
  loop_control:
    loop_var: command
  tags: command
  notify: config_deploy
