---
name: ansible-test

on:
  # Run CI against all pushes (direct commits, also merged PRs), Pull Requests
  push:
    branches:
      - 'main'
      - 'renovate/**'
      - 'testing-icinga-dependency'
  pull_request:
    # The branches below must be a subset of the branches above
    branches: [main]
  # Run CI once per week (at 06:00 UTC)
  # This ensures that even if there haven't been commits that we are still
  # testing against latest version of ansible-test for each ansible-core
  # version
  schedule:
    - cron: '0 6 * * 1'

concurrency:
  group: >-
    ${{ github.workflow }}-${{
      github.event.pull_request.number || github.sha
    }}
  cancel-in-progress: true

jobs:
  sanity:
    name: Sanity (Ⓐ${{ matrix.ansible }})
    strategy:
      matrix:
        ansible:
          # It's important that Sanity is tested against all stable-X.Y branches
          # Testing against `devel` may fail as new tests are added.
          # An alternative to `devel` is the `milestone` branch with
          # gets synchronized with `devel` every few weeks and therefore
          # tends to be a more stable target. Be aware that it is not updated
          # around creation of a new stable branch, this might cause a problem
          # that two different versions of ansible-test use the same sanity test
          # ignore.txt file.
          # Add new versions announced in
          # https://github.com/ansible-collections/news-for-maintainers in a timely manner,
          # consider dropping testing against EOL versions and versions you don't support.
          - stable-2.14
          - stable-2.15
          - stable-2.16
          - devel
    runs-on: ubuntu-latest
    steps:
      # Run sanity tests inside a Docker container.
      # The docker container has all the pinned dependencies that are
      # required and all Python versions Ansible supports.
      - name: Perform sanity testing
        # See the documentation for the following GitHub action on
        # https://github.com/ansible-community/ansible-test-gh-action/blob/main/README.md
        uses: ansible-community/ansible-test-gh-action@release/v1
        with:
          ansible-core-version: ${{ matrix.ansible }}
          testing-type: sanity
          # OPTIONAL If your sanity tests require code
          # from other collections, install them like this
          # test-deps: >-
          #   ansible.netcommon
          #   ansible.utils
          # OPTIONAL If set to true, will test only against changed files,
          # which should improve CI performance. See limitations on
          # https://github.com/ansible-community/ansible-test-gh-action#pull-request-change-detection
          pull-request-change-detection: true

  integration:
    # Ansible-test on various stable branches does not yet work well with cgroups v2.
    # Since ubuntu-latest now uses Ubuntu 22.04, we need to fall back to the ubuntu-20.04
    # image for these stable branches. The list of branches where this is necessary will
    # shrink over time, check out https://github.com/ansible-collections/news-for-maintainers/issues/28
    # for the latest list.
    runs-on: ubuntu-latest
    name: I (Ⓐ${{ matrix.ansible }}+py${{ matrix.python }}) - director ${{ matrix.icinga_director }}
    strategy:
      fail-fast: false
      matrix:
        icinga_director:
          - 1.8.1
          - 1.11.1
        ansible:
          - stable-2.14
          - stable-2.15
          - stable-2.16
          - devel
        python:
          - '3.8'
          - '3.9'
          - '3.10'
          - '3.11'
          - '3.12'
        include:
          # Add new versions announced in
          # https://github.com/ansible-collections/news-for-maintainers in a timely manner,
          # consider dropping testing against EOL versions and versions you don't support.
          # ansible-core 2.14
          #
          # icinga-director 1.8.1
          - ansible: stable-2.14
            python: '2.7'
            icinga_director: 1.8.1
          - ansible: stable-2.14
            python: '3.5'
            icinga_director: 1.8.1
          - ansible: stable-2.14
            python: '3.6'
            icinga_director: 1.8.1
          # ansible-core 2.15
          - ansible: stable-2.15
            python: '2.7'
            icinga_director: 1.8.1
          - ansible: stable-2.15
            python: '3.5'
            icinga_director: 1.8.1
          - ansible: stable-2.15
            python: '3.6'
            icinga_director: 1.8.1
          # ansible-core 2.16
          - ansible: stable-2.16
            python: '2.7'
            icinga_director: 1.8.1
          - ansible: stable-2.16
            python: '3.6'
            icinga_director: 1.8.1
          # icinga-director 1.11.1
          - ansible: stable-2.14
            python: '2.7'
            icinga_director: 1.11.1
          - ansible: stable-2.14
            python: '3.5'
            icinga_director: 1.11.1
          - ansible: stable-2.14
            python: '3.6'
            icinga_director: 1.11.1
          # ansible-core 2.15
          - ansible: stable-2.15
            python: '2.7'
            icinga_director: 1.11.1
          - ansible: stable-2.15
            python: '3.5'
            icinga_director: 1.11.1
          - ansible: stable-2.15
            python: '3.6'
            icinga_director: 1.11.1
          # ansible-core 2.16
          - ansible: stable-2.16
            python: '2.7'
            icinga_director: 1.11.1
          - ansible: stable-2.16
            python: '3.6'
            icinga_director: 1.11.1
        exclude:
          - python: '3.12'
            ansible: stable-2.14
          - python: '3.12'
            ansible: stable-2.15
    services:
      icinga:
        image: ghcr.io/telekom-mms/icinga2:director-${{ matrix.icinga_director }}
        ports:
          - 80:80
    steps:
      - name: >-
          Perform integration testing against
          Ansible version ${{ matrix.ansible }}
          under Python ${{ matrix.python }}
        # See the documentation for the following GitHub action on
        # https://github.com/ansible-community/ansible-test-gh-action/blob/main/README.md
        uses: ansible-community/ansible-test-gh-action@b416b6ecf7ddb0ea3b0a51c1d198d715eba52c9d # v1.16.0
        with:
          ansible-core-version: ${{ matrix.ansible }}
          # OPTIONAL command to run before invoking `ansible-test integration`
          pre-test-cmd: sed -i "s/127.0.0.1/icinga/g" tests/integration/integration_config.yml
          target-python-version: ${{ matrix.python }}
          testing-type: integration
          # OPTIONAL If your integration tests require code
          # from other collections, install them like this
          # test-deps: ansible.netcommon
          # OPTIONAL If set to true, will test only against changed files,
          # which should improve CI performance. See limitations on
          # https://github.com/ansible-community/ansible-test-gh-action#pull-request-change-detection
          pull-request-change-detection: true

  docsite:
    name: Lint extra docsite docs and links
    permissions:
      contents: read
    runs-on: ubuntu-latest
    steps:
      - name: Check out code
        uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4

      - name: Set up Python
        uses: actions/setup-python@42375524e23c412d93fb67b49958b491fce71c38 # v5
        with:
          python-version: 3.11

      - name: Install antsibull-docs
        run: pip install antsibull-docs --disable-pip-version-check

      - name: Run collection docs linter
        run: antsibull-docs  lint-collection-docs --plugin-docs --validate-collection-refs all --disallow-unknown-collection-refs --skip-rstcheck .
