---
name: create roles readme

on:  # yamllint disable-line rule:truthy
  push:
    branches: [main]
    paths:
      - 'roles/*/meta/argument_specs.yml'
      - 'roles/*/meta/main.yml'
  pull_request:
    branches: [main]
    paths:
      - 'roles/*/meta/argument_specs.yml'
      - 'roles/*/meta/main.yml'
jobs:
  readme:
    name: create roles readme
    runs-on: ubuntu-latest
    steps:
      - name: Check out code
        uses: actions/checkout@44c2b7a8a4ea60a981eaca3cf939b5f4305c123b # v4

      - name: Set up Python
        uses: actions/setup-python@82c7e631bb3cdc910f68e0081d67478d79c6982d # v5
        with:
          python-version: 3.11

      - name: Install aar_doc
        run: pip3 install aar_doc

      - name: Run aar_doc
        run: aar_doc --config-file .aar_doc.yml roles/ansible_icinga/ markdown

      - name: Push README
        if: github.event_name != 'pull_request'
        uses: github-actions-x/commit@722d56b8968bf00ced78407bbe2ead81062d8baa # v2.9
        with:
          github-token: ${{ secrets.GITHUB_TOKEN }}
          commit-message: 'update readme'
          files: README.md
          rebase: true
