---
name: Check generated testcases

on:  # yamllint disable-line rule:truthy
  pull_request:
    branches: [main]
    paths:
      - 'plugins/modules/*.py'
      - 'examples/**'
      - 'hacking/**'
      - 'tests/**'
      - '.github/workflows/test_gen.yml'

concurrency:
  group: >-
    ${{ github.workflow }}-${{
      github.event.pull_request.number || github.sha
    }}
  cancel-in-progress: true

jobs:
  test_gen:
    name: re-generate tests
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
        with:
          fetch-depth: 0
      - uses: chrisdickinson/setup-yq@3d931309f27270ebbafd53f2daee773a82ea1822 # v1.0.1
        with:
          yq-version: 3.4.1
      - run: |
          ./hacking/update_examples_and_tests.sh
          if [[ -n $(git status --porcelain) ]]; then
              echo "::error ::You need to re-generate tests with './hacking/update_examples_and_tests.sh' (see CONTRIBUTING.md)"
              exit 1
          fi
