plugin: telekom_mms.icinga_director.icinga_director_inventory
url: 'http://icinga/icingaweb2'
url_username: icingaadmin
url_password: icinga
force_basic_auth: true
keyed_groups:
- key: object_type
  prefix: object_type
compose:
  test_compose_var_sum: check_command + object_name
